
<% @articles.each do |article| %>

  <h2>
    <%= link_to article do %>
      <%= article.title %>
    <% end %>
    <span>
      <%= link_to edit_article_path(article), class: 'btn btn-warning' do %>
        <i class="far fa-edit"></i>
      <% end %>

      <%= link_to article, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </span>
  </h2>

  <p><%= article.content.truncate(500, separator: "\n", omission: '') %></p>

<% end %>
